<h2>
  Events
</h2>
<div>
  <p>
    <form action="/events/new" method="get">
      <input type="submit" value="Add event">
    </form>
    <hr>
  </p>
</div>
<div>
  <% @events.each do |event| %>
    <p>
      <a href="/events/<%= event.id %>"><%= event.sport.name %>: <%= event.name %></a>
    </p>
  <% end %>
</div>