<div>
  <h2>Events</h2>
</div>
<div>
  <% @events.each do |event| %>
  <a href="/events/<%= event.id %>"><%= event.sport %>: <%= event.name %></a><br>
  <% end %>
</div>
<div>
  <a href="/events/new">Add event</a>
</div>