<header>
  <h3>Add event</h3>
</header>
<div class="top-button">
  <form action="/events" method="post">
    <p>
      <label for="sport">Sport: </label><br>
      <select name="sport_id" id="sport">
        <% @sports.each do |sport| %>
        <option value="<%= sport.id %>"><%= sport.name %></option>
        <% end %> 
      </select>
    </p>
    <p>
      <label for="name">Event name: </label><br>
      <input type="text" name="name" id="name"><br>
    </p>
    <p>
      <input type="submit" value="Add">
    </p>
  </form>
</div>