<div>
  <h3>Add event</h3>
</div>
<div>
  <form action="/events" method="post">
    
    <p>
    <label for="sport">Sport: </label><br>

    <select name="sport" id="sport">
    
      <option value="Alpine skiing">Alpine skiing</option>
      <option value="Biathlon">Biathlon</option>
      <option value="Bobsleigh">Bobsleigh</option>
      <option value="Cross-country skiing">Cross-country skiing</option>
      <option value="Curling">Curling</option>
      <option value="Figure skating">Figure skating</option>
      <option value="Freestyle skiing">Freestyle skiing</option>
      <option value="Ice hockey">Ice hockey</option>
      <option value="Luge">Luge</option>
      <option value="Nordic combined">Nordic combined</option>
      <option value="Short track speed skating">Short track speed skating</option>
      <option value="Skeleton">Skeleton</option>
      <option value="Ski jumping">Ski jumping</option>
      <option value="Snowboarding">Snowboarding</option>
      <option value="Speed skating">Speed skating</option>
      <option value="Falling with style">Falling with style</option>
      <option value="Sliding with style">Sliding with style</option>
      <option value="Sliding faster than anyone else; try to avoid falling">Sliding faster than anyone else, try to avoid falling</option>
      <option value="Scoring more points than anyone else, while sliding; falling optional">Scoring more points than anyone else, while sliding; falling optional</option>
    
    </select>
    </p>

    <p>
    <label for="name">Event name: </label><br>
    <input type="text" name="name" id="name"><br>
    </p>

    <p>
    <input type="submit" value="Add">
    </p>

  </form>
</div>