<div>
  <h2>Competitors</h2>
</div>
<div>
  <% @competitors.each do |competitor| %>
  <a href="/competitors/<%= competitor.id %>"><%= competitor.name %></a><br>
  <% end %>
</div>
<p></p>
<div>
  <a href="/competitors/new">Add competitor</a>
</div>