<div>
  <h3>Add participant</h3>
</div>
<div>
  <form action="/participants" method="post">
    
    <p>
    <label for="country">Country: </label>
    <select name="country_id" id="country">
      <% @countries.each do |country| %>
        <option value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>
    </p>

    <p>
    <label for="name">Participant name: </label>
    <input type="text" name="name" id="name">
    </p>

    <p>
    <input type="submit" value="Add">
    </p>

  </form>
</div>