<div>
  <h2>Participants</h2>
</div>
<div>
  <% @participants.each do |participant| %>
  <%= participant.name %><br>
  <% end %>
</div>
<p></p>
<div>
  <a href="/participants/new">Add participant</a>
</div>