<div>
  <h1>PyeongChang 2018</h1>
</div>
<div>
  <h2>Medal table</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Gold</th>
        <th scope="col">Silver</th>
        <th scope="col">Bronze</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Country</td>
        <td>Gold</td>
        <td>Silver</td>
        <td>Bronze</td>
        <td>Total</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>Gold</td>
        <td>Silver</td>
        <td>Bronze</td>
        <td>Total</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Totals</td>
        <td>Gold</td>
        <td>Silver</td>
        <td>Bronze</td>
        <td>Total total</td>
      </tr>
    </tfoot>
  </table>
</div>