<!DOCTYPE html>
<html>
<head>
  <title>CoClAss1</title>
</head>
<body>
  <nav>
    <a href="/countries">Countries</a> | <a href="/events">Events</a> | <a href="/participants">Participants</a> | <a href="/results">Results</a>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer></footer>
</body>
</html>