<header>
<h3>
  Add sport
</h3>
<div>
  <form action="/sports" method="post">
    <p>
      <label for="name">Sport: </label><br>
      <input type="text" name="name" id="name"><br>
    </p>
    <p>
      <input type="submit" value="Add">
    </p>
  </form>
</div>