<div>
  <h2>Results</h2>
</div>
<div>
  <a href="/results/new">Add result</a>
  <p></p>
</div>
<div>
  <% @events.each do |event| %>
    <%= event.sport %>: <%= event.name %><br>
    Entrant: 





    <%= result.participant_id %><br>
    Result: <% case result.result
            when 1 %>
              Gold<br>
            <% when 2 %>
              Silver<br>
            <% when 3 %>
              Bronze<br>
            <% end %>
    <hr>
    </a>
  <% end %>
</div>
<p></p>
