<h3>Edit country record</h3>
<div>
  <form action="/countries/<%= @country.id %>" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= @country.name %>"><br>

    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Save">
  </form>
  <p>
    (... other country information ...)
  </p>
</div>