<div>
  <h2>Countries</h2>
</div>

<div>
  <% @countries.each do |country| %>
  <a href="/countries/<%= country.id %>"><%= country.name %></a><br>
  <% end %> 
</div>
<p></p>
<div>
  <a href="/countries/new">Add country</a>
</div>