<h2>Countries</h2>
<div>
  <p>
    <form action="/countries/new" method="get">
      <input type="submit" value="Add country">
    </form>
    <hr>
  </p>
</div>
<div>
  <% @countries.each do |country| %>
    <h3>
      <a href="/countries/<%= country.id %>"><%= country.name %></a>
    </h3>
    <p>
      <a href="/countries/<%= country.id %>/edit">Edit country record</a>
    </p>
    <p>
      <form action="/countries/<%= country.id %>" method="post">
        <input type="submit" value="Delete all records">
        <input type="hidden" name="_method" value="delete">
      </form>
    </p>
    <hr>
  <% end %> 
</div>
