<h3>
  <%= @country.name %>
</h3>
<div>
  <p>
    <a href="/countries/<%= @country.id %>/competitors">Competitors and entries</a>
  </p>
  <p>
    <a href="/countries/<%= @country.id %>/results">View results</a>
  </p>
  <p>
    <a href="/countries/<%= @country.id %>/results_data">Get results data</a>
  </p>
</div>